body {
    margin: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #10222E;
    line-height: 1.5;
}

.fundo {
    position: absolute;
    width: 100%; 
    display: flex;
    overflow: hidden;
}

.logo {
    opacity: 10%;
    width: 58rem;
    margin-top: 25px;
}

#um {
    margin-left: -27.5rem;
}

#dois {
    margin-left: 38rem;
}

.QRCode {
    width: 100%;
    height: auto;  
}

.escrita {
    padding-top: 30px;
    text-align: center;
}

.escrita h1 {
    font-size: 5rem;
    margin-top: -1px;
}

.icons {
    display: flex;
    align-items: center;
    text-align: center;
}

.clicavel {
    transition: transform 0.2s ease;
    position: relative;
    margin-top: -180px;
    width: 340px;
    height: 340px;
}

.clicavel:hover .personagem {
    transform: scale(1.05);
}

.clicavel:hover .retangulo {
    transform: scale(1.05) rotate(45deg);
}

.clicavel:hover h3, .clicavel:hover p{
    transform: translateY(50px);
}

.clicavel:active {
    transform: scale(0.95);
}

.retangulo {    
    position: absolute;
    z-index: 0;
    width: 340px;
    height: auto;
    transition: transform 0.4s ease;
    left: 0;
}

.personagem {
    margin-top: 15px;
    z-index: 1;
    width: auto;
    height: 300px;
    position: relative;
    transition: transform 0.4s ease;
}

.icons h3 {
    font-size: 2rem;
    margin: 35px 0 0;
}

.icons h3, .icons p {
    z-index: 2;
    position: relative;
    transition: transform 0.4s ease;
}

.icons a {
    text-decoration: none;
    color: #10222E;
}

.professor, .aluno {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.citacao {
    margin: 8px 0 0;
}

.autor {
    margin: 5px;
}

@media screen and (max-width: 1350px) {
    .QRCode {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 1000px;
        height: auto;
    }

    #um {
        margin-left: -37%;
    }

    #dois {
        margin-left: 278px;
    }

    .icons {
        display: flex;
        margin-top: -60px;
        width: 330px;
        height: auto;
    }
    
    .aluno {
        transition: transform 0.4s ease;
        margin-left: 400px;
    }

    .professor {
        margin-left: -200px;
    }

    .clicavel {
        margin-top: 0;
    }

    .autorAluno {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 980px) {
    .body {
        margin: 0px;
    }
    
    .fundo {
        flex-direction: column;
    }

    .logo {
        width: 2200px;
        height: auto;
    }
    
    #um {
        margin-left: -65rem;
    }
    
    #dois {
        margin-top: -10rem;
        margin-left: -4.2rem;
    }

    .escrita h2 {
        width: 700px;
        font-size: 5rem;
    }
    
    .escrita h1 {
        font-size: 12rem;
    }

    .icons {
        flex-direction: column;
        margin-top: -50px;
    }

    .retangulo {
        width: 550px;
        left: 50%;
        transform: translateX(-50%);
    }

    .personagem {
        width: 240px;
        height: auto;
        margin-top: 50px;
    }

    .personagemAluno {
        width: 270px;
        height: auto;
        margin-top: 40px;
    }

    .aluno {
        margin-top: 700px;
    }

    .professor h3, .aluno h3 {
        width: 800px;
        font-size: 80px;
        margin-top: 80px;
        left: 50%;
        transform: translateX(-50%);
    }

    .citacao, .autor {
        font-size: 40px;
        width: 750px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .clicavel:hover .personagem {
        transform: translateY(25px) scale(1.1);
    }

    .professor:hover .clicavel p, .professor:hover .clicavel h3 {
        transform: translateX(-50%) translateY(150px);
    }

    .professor:hover .retangulo {
        transform: translateX(-50%) translateY(50px) scale(1.05) rotate(45deg);
    }

    .aluno:hover .clicavel p, .aluno:hover .clicavel h3 {
        transform: translateX(-50%) translateY(150px);
    }

    .aluno:hover .retangulo {
        transform: translateX(-50%) translateY(50px) scale(1.05) rotate(45deg);
    }

    .icons:hover .aluno {
        transform: translateY(200px);
    }

    .aluno:hover .clicavel {
        transform: translateY(-140px);
    }

    .professor {
        margin-left: 0;
    }

    .aluno {
        margin-left: 0;
    }
}

@media screen and (max-width: 600px) {
    .citacao, .autor {
        width: 850px;
    }

    .aluno {
        margin-top: 650px;
    }
}